## Date and Time Extract Functions
Let us get an overview about Date and Time extract functions. Here are the extract functions that are useful which are self explanatory.

* `year`
* `month`
* `weekofyear`
* `dayofyear`
* `dayofmonth`
* `dayofweek`
* `hour`
* `minute`
* `second`

There might be few more functions. You can review based up on your requirements.

In [0]:
l = [("X", )]

In [0]:
df = spark.createDataFrame(l).toDF("dummy")

In [0]:
df.show()

In [0]:
from pyspark.sql.functions import year, month, weekofyear, dayofmonth, \
    dayofyear, dayofweek, current_date

In [0]:
df.select(
    current_date().alias('current_date'), 
    year(current_date()).alias('year'),
    month(current_date()).alias('month'),
    weekofyear(current_date()).alias('weekofyear'),
    dayofyear(current_date()).alias('dayofyear'),
    dayofmonth(current_date()).alias('dayofmonth'),
    dayofweek(current_date()).alias('dayofweek')
).show() #yyyy-MM-dd

In [0]:
help(dayofweek)

In [0]:
from pyspark.sql.functions import current_timestamp, hour, minute, second

In [0]:
from pyspark.sql import functions

In [0]:
help(functions)

In [0]:
df.select(
    current_timestamp().alias('current_timestamp'), 
    year(current_timestamp()).alias('year'),
    month(current_timestamp()).alias('month'),
    dayofmonth(current_timestamp()).alias('dayofmonth'),
    hour(current_timestamp()).alias('hour'),
    minute(current_timestamp()).alias('minute'),
    second(current_timestamp()).alias('second')
).show(truncate=False) #yyyy-MM-dd HH:mm:ss.SSS